<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="https://github.com/onttoni/web-base2">Web-base2</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['Home']"><i class="fa fa-home"></i>Home</a></li>
        <!--
        <li><a [routerLink]="['Friends']"><i class="fa fa-users"></i>Friends</a></li>
        -->
        <li><a [routerLink]="['Chat']"><i class="fa fa-commenting"></i>Chat</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isSignedIn"><a [routerLink]="['Signin']">Sign in</a></li>
        <li *ngIf="!isSignedIn"><a [routerLink]="['Signup']">Sign up</a></li>
        <li *ngIf="isSignedIn"><a class="text-capitalize" [routerLink]="['Profile']">{{userName}}</a></li>
        <li *ngIf="isSignedIn"><a [routerLink]="['Signout']">Sign out</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a (click)="_modalService.openModal('About')">About</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
