<h2>Home</h2>
<h3>Some test items:</h3>
<ul>
  <li><h3 class="a-class">H3 text should be blue</h3></li>
  <li><h3 id="an-id">H3 text should be shadowed</h3></li>
  <li><div class="fa-test">here font-family should be FA</div></li>
</ul>
<ul class="fa-ul">
  <li>
    <i class="fa-li fa fa-check-square"></i>li should display
    <a href="https://fortawesome.github.io/Font-Awesome">FA</a>
    check-square icon
  </li>
  <li><i class="fa-li fa fa-spinner fa-spin"></i>li should display spinner</li>
</ul>
<div><a href="http://getbootstrap.com/">Bootstrap</a> buttons with FA icons:</div>
<div class="btn-group">
  <a class="btn btn-default btn-lg" id="btn-reload" (click)="reload()"><i class="fa fa-refresh fa-lg"></i>Reload</a>
  <a class="btn btn-info btn-lg" (click)="_modalService.callModal('About')" id="btn-about"><i class="fa fa-info-circle fa-lg"></i>About</a>
</div>
