<h2>Profile</h2>
<div>
  <form name="formUserProfile" class="form-user-profile" (ngSubmit)="onSubmit()" novalidate>
    <template ngFor let-key [ngForOf]="displayFields">
      <form-group [key]="key" [doc]="doc.doc" *ngIf="!(key=='email'||key=='password')"></form-group>
    </template>
    <div>
      <button class="btn btn-default" type="submit" ng-disabled="formUserProfile.$invalid"><i class="fa fa-floppy-o"></i>Save</button>
      <button [routerLink]="['Home']" class="btn btn-default"><i class="fa fa-times"></i>Cancel</button>
    </div>
  </form>
</div>
